@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif, Arial;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(to bottom, #af67e9, #6565e7);
}

.container {
  width: 920px;
  height: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.65);
  background-image: url(../../images/bg-pattern-desktop.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -35.8em 70%;
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 87%;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    background-image: url(../../images/bg-pattern-mobile.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    height: auto;
    width: 650px;
    height: 535px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    width: 327px;
    height: 520px;
  }
}

.container .row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .row #box {
  position: absolute;
  bottom: 12%;
  left: -10%;
}

@media only screen and (max-width: 992px) {
  .container .row #box {
    display: none;
  }
}

.container .row #hero-mobile {
  display: none;
}

@media only screen and (max-width: 992px) {
  .container .row #hero-mobile {
    display: block;
    position: absolute;
    top: -23.5em;
    left: 11em;
  }
}

@media only screen and (max-width: 768px) {
  .container .row #hero-mobile {
    left: 6.5em;
  }
}

@media only screen and (max-width: 550px) {
  .container .row #hero-mobile {
    left: 1.1em;
    top: -23em;
  }
}

.container .row .col-img {
  width: 50%;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  .container .row .col-img {
    width: 100%;
    position: relative;
    overflow: visible;
  }
}

.container .row .col-img #hero-desktop {
  margin-left: -18%;
}

@media only screen and (max-width: 992px) {
  .container .row .col-img #hero-desktop {
    display: none;
  }
}

.container .row .col-faq {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .container .row .col-faq {
    width: 100%;
    position: absolute;
    top: -10em;
  }
}

.container .row .col-faq h1 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .container .row .col-faq h1 {
    text-align: center;
  }
}

.container .row .col-faq .faq-container {
  width: 85%;
  position: absolute;
}

@media only screen and (max-width: 992px) {
  .container .row .col-faq .faq-container {
    width: 87%;
    position: static;
    margin: 0 auto;
    padding-top: 35px;
  }
}

@media only screen and (max-width: 550px) {
  .container .row .col-faq .faq-container {
    width: 95%;
  }
}

.container .row .col-faq .faq-container .accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  background-color: #ffffff;
  color: #1d1e35;
  cursor: pointer;
  padding: 18px;
  padding-left: 0;
  border-bottom: 1px solid #e7e7e9;
  text-align: left;
  outline: none;
  font-size: 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (max-width: 992px) {
  .container .row .col-faq .faq-container .accordion {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 550px) {
  .container .row .col-faq .faq-container .accordion {
    margin: 0 auto;
    font-size: 13px;
  }
}

.container .row .col-faq .faq-container .accordion img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container .row .col-faq .faq-container .active {
  color: #1d1e35;
  font-weight: bold;
  border-bottom: 0px;
}

.container .row .col-faq .faq-container .accordion:hover {
  color: #f47c57;
}

.container .row .col-faq .faq-container .panel {
  width: 85%;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  line-height: 1.5;
  font-size: 12px;
  color: #4a4b5e;
}

@media only screen and (max-width: 992px) {
  .container .row .col-faq .faq-container .panel {
    margin: 0 auto;
    width: 90%;
  }
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 20px;
}

.attribution a {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */