@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif, Arial;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(to bottom, #af67e9, #6565e7);
}

@media only screen and (max-width: 576px) {
  main {
    padding: 5rem 2rem;
  }
}

.container {
  max-width: 58rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.65);
  background-image: url(../../images/bg-pattern-desktop.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -35.8em 70%;
}

@media only screen and (max-width: 992px) {
  .container {
    background-image: url(../../images/bg-pattern-mobile.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    margin: 3rem auto 2rem auto;
    padding-bottom: 2.5rem;
  }
}

.container .row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .row #box {
  position: absolute;
  bottom: 19%;
  left: -10%;
}

@media only screen and (max-width: 992px) {
  .container .row #box {
    display: none;
  }
}

.container .row #hero-mobile {
  display: none;
}

@media only screen and (max-width: 992px) {
  .container .row #hero-mobile {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-55%, -55%);
            transform: translate(-55%, -55%);
  }
}

.container .row .col-img {
  width: 50%;
  padding: 3rem;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  .container .row .col-img {
    width: 100%;
    position: relative;
    overflow: visible;
  }
}

.container .row .col-img #hero-desktop {
  margin-left: -33%;
}

@media only screen and (max-width: 992px) {
  .container .row .col-img #hero-desktop {
    display: none;
  }
}

.container .row .col-faq {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .container .row .col-faq {
    width: 100%;
  }
}

.container .row .col-faq h1 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .container .row .col-faq h1 {
    text-align: center;
  }
}

.container .row .col-faq .faq-container {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .container .row .col-faq .faq-container {
    width: 87%;
    position: static;
    margin: 0 auto;
    padding-top: 35px;
  }
}

.container .row .col-faq .faq-container .accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  color: #1d1e35;
  cursor: pointer;
  padding: 18px;
  padding-left: 0;
  border-bottom: 1px solid #e7e7e9;
  text-align: left;
  outline: none;
  font-size: 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (max-width: 992px) {
  .container .row .col-faq .faq-container .accordion {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 550px) {
  .container .row .col-faq .faq-container .accordion {
    margin: 0 auto;
    font-size: 0.85rem;
  }
}

.container .row .col-faq .faq-container .accordion img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container .row .col-faq .faq-container .active {
  color: #1d1e35;
  font-weight: bold;
  border-bottom: 0px;
}

.container .row .col-faq .faq-container .arrow-active {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.container .row .col-faq .faq-container .accordion:hover {
  color: #f47c57;
}

.container .row .col-faq .faq-container .panel {
  width: 100%;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  line-height: 1.5;
  font-size: 0.75rem;
  color: #4a4b5e;
  padding-right: 1.8rem;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 15px;
}

.attribution a {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */